@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
}

.quote {
	width: 1200px;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 2
}

.quote .box {
	position: relative;
	width: 360px;
	height: 400px;
	background: #fff;
	overflow: hidden;
	transition: .5s;
	box-sizing: border-box;
	padding: 30px;
	box-shadow: -15px 25px 50px rgba(0, 0, 0, .2);

}

.quote .box:hover {
	box-shadow: -10px 50px 100px rgba(0, 0, 0, .5);
}	

