@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
}

.quote {
	width: 1200px;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 2;
}


.quote .box h2 {
	position: absolute;
	bottom: 40px;
	right: 35px;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.quote .box h2:hover {
	position: absolute;
	bottom: 40px;
	right: 35px;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.quote .box {
	position: relative;
	width: 360px;
	height: 400px;
	background: #fff;
	overflow: hidden;
	transition: .5s;
	z-index: 2;
	box-sizing: border-box;
	padding: 30px;
	box-shadow: -15px 25px 50px rgba(0, 0, 0, .2);

}

.quote .box:hover {
	box-shadow: -10px 50px 100px rgba(0, 0, 0, .5);
}

.quote .box:before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	
}

.quote .box:after {
	content: url(images/quote.png);
	bottom: 10%;
	left: 10%;
	opacity: .1;
	pointer-events: none;
	filter: invert(1);
}

.quote .box:hover:after {
	filter: invert(0);
}

.quote .bg-gradient {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: 0.5s;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.quote .box.box-1:hover ~ .bg-gradient {
	opacity: 1;
	background: url(images/braulio.jpg);
	background-size: 10%;
} 

.quote .box.box-1:hover {
	opacity: 1; 
	background: linear-gradient(#99ff55, #AA0044);
	border-radius: 30px;
}	

.quote .box.box-2:hover ~ .bg-gradient {
	opacity: 1;
	background: url(images/gandhi.jpg);
	background-size: 10%;
} 

.quote .box.box-2:hover {
	opacity: 1; 
	background: linear-gradient(#d35f5f, #7f2aff);
	border-radius: 30px;
}

.quote .box.box-3:hover ~ .bg-gradient {
	opacity: 1;
	background: url(images/clarice-lispector.jpg);
	background-size: 12%;
} 	

.quote .box.box-3:hover {
	opacity: 1; 
	background: linear-gradient(#ff991f, #ff80b2);
	border-radius: 30px;
}



